.box1{
    background-color: lightcyan;
    min-height: 100px;
    /* margin: 10px;
    padding: 10px; */
}
.box2{
    background-color: darkcyan;
    min-height: 100px;
    /* margin: 10px; */
    /* padding: 10px; */
}